<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-2 col-xs-12 col-xs-offset-0" style="text-align: center; padding: 0 2em;">
    <button class="btn btn-block btn-social btn-facebook" id="quickstart-sign-in">
        <span class="fa fa-facebook" style="padding-top: 0.3em;"></span> Facebook
    </button>
    <div class="quickstart-user-details-container">
        <span class="quickstart-sign-in-status"></span>
        <p ng-hide="true" id="quickstart-oauthtoken"></p>
    </div>
    <button class="btn btn-block btn-social btn-google">
        <span class="fa fa-google" style="padding-top: 0.3em;"></span> Google+
    </button>
    <button class="btn btn-block btn-social btn-twitter">
        <span class="fa fa-twitter" style="padding-top: 0.3em;"></span> Twitter
    </button>
</div> <!-- END div for social buttons -->