<div class="row mdl-card__supporting-text mdl-color-text--grey-600">
    <p>Log in with your Facebook account below.</p>
    <!-- Container where we'll display the user details -->
    <div class="quickstart-user-details-container">
        <span id="quickstart-sign-in-status"></span>
        <div id="quickstart-account-details"></div>
        <p ng-hide="true" id="quickstart-oauthtoken"></p>
    </div>
    <!-- Button that handles sign-in/sign-out -->
    <div class="row col-md-6 mg-btm">
        <div class="btn btn-primary btn-block mdl-button mdl-js-button mdl-button--raised" id="quickstart-sign-in">
            <a href="#" >
                <i class="icon-facebook"></i>    
            </a>
        </div>
    </div> <!-- BUTTON END -->
</div>