<div class="container" style="border: 1px solid lightgrey; margin-top: 1em;">
  <div class="row" id="Aboutus">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <h2>About us</h2>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12 container-with-pictures-and-texts">
    <div class="col-lg-12 col-md-12 col-xs-12 picture-and-text-div">
      <div class="col-lg-4 col-md-4 col-xs-4 picture-div">
        <img src="Slike/adventuzagrebu1.jpg" alt="Picture of Zagreb" style="width: 96%;">
      </div>
      <div class="col-lg-8 col-md-8 col-xs-8 text-div">
        <p>
          <span style="font-weight: bold;">Company </span>  <br>
          As one of the biggest e-commerce travel companies in Croatia and leader in Europe, we offer customers over 6,000 flight-routes from more than 440 airlines in over 4,000 destinations around the world, as well as vacation packages, through our highly developed search and booking technologies.
          Book a flight with us and see for yourself, you won't regret it.
        </p>
      </div>

    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 picture-and-text-div">
      <div class="col-lg-8 col-md-8 col-xs-8 text-div">
        <p style="width: 96%;">
          <span style="font-weight: bold;">Our history</span>  <br>
          ARS was created in December 2016 by founder Karlo Vidakovic in Croatia capital city, Zagreb. In 2010 he decided to move to Sillicon Valley where he worked at Google and Facebook before embarking on his ARS adventure. He was appointed as CEO and Board Member in ARS from 2016 till now.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-4 picture-div">
        <img src="Slike/marvelousegypttravel.com-EgyptExcursions-DahabExcursions-Luxor-Day-Trip-from-Dahab-by-Flight.jpg" alt="History">
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12 container-with-pictures-and-texts" id="partners">
    <hr>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <h4>Some of our biggest partners</h4>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <img src="Slike/Logoi/CA.jpg" alt="Croatia Airlines logo">
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <img src="Slike/Logoi/new%20zealand.jpg" alt="Air New Zealand logo">
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <img src="Slike/Logoi/tklogo.jpg" alt="Turkish Airlines logo">
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <img src="Slike/Logoi/qatar_logo.gif" alt="Qatar airways logo">
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <img src="Slike/Logoi/wizz.gif" alt="Wizz air logo">
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <img src="Slike/Logoi/EA.jpg" alt="EgyptAir logo">
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <img src="Slike/Logoi/brand.jpg" alt="Air Austria logo">
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <img src="Slike/Logoi/avianca.png" alt="Avianca logo">
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <img src="Slike/Logoi/easyjet.jpg" alt="Easyjet logo">
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <img src="Slike/Logoi/ryanair.png" alt="Ryanair logo">
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <img src="Slike/Logoi/lufthansa-logo-vector-200x200.png" alt="Lufthansa logo">
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <img src="Slike/Logoi/delta-air-lines-logo-vector-01-200x200.png" alt="Delta Airlines logo">
    </div>
  </div>
</div> <!--class="container"-->
