<div class="container">
    <div class="row" id="divforrowofcontentheader" style="border-bottom: 1px solid lightgray;"> <!--  ** START OF A CONTENT HEADER ** -->
        <div class="col-lg-4 col-md-6 col-xs-6 header-atributes" >
            <div style="float: left;">
                <p>From:</p>
                <p>From destination &nbsp;</p>
            </div>
            <div style="float: left; padding: .5vh; font-size: 2.8vh;">
                <span class="glyphicon glyphicon-transfer"></span>
            </div>
            <div style="float: left; border-right: 1px solid lightgray;">
                <p>To:</p>
                <p>To destination &nbsp;</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-2 header-atributes" >
            <div style="float: left;">
                <p>Dep. date:</p>
                <p>Date &nbsp;</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-2 header-atributes" style="border-right: 1px solid lightgray;">
            <div style="float: left;">
                <p>Ret. date:</p>
                <p>Date &nbsp;</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-2 header-atributes" >
            <div style="float: left;">
                <p>№. Pas</p>
                <p>#n &nbsp;</p>
            </div>
        </div>
    </div> <!-- divforrowofcontentheader ** END OF A CONTENT HEADER ** -->
    <div class="col-lg-12 col-md-12 col-xs-12 flights"><!-- START OF A NEW FLIGHT -->
        <div class="col-lg-12 col-md-12 col-xs-12 price-background"><!-- START OF A FLIGHT HEADER -->
            <div class="col-lg-2 col-md-2 col-xs-2">
                <h2 style="float: left;">350€</h2>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-5 halign">
                <h5 style="float: left; padding-left: 2em;" tabindex="0" data-toggle="popover" title="Popover Header" data-placement="right" data-trigger="focus" data-content="Price breakdown">Price breakdown</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3 halign">
                <button type="button" class="btn-default select-flight" value="Select">SELECT</button>
            </div>
        </div><!-- END OF A FLIGHT HEADER -->
        <div class="col-lg-12 col-md-12 col-xs-12 dep-ret-details"><!-- START OF A DEPARTURE FLIGHT -->
            <div class="col-lg-1 col-md-1 col-xs-1 glyphi-aeroplane-div">
                <br>
                <span class="glyphicon glyphicon-plane gly-rotate-90"></span>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-4 airport-and-time" style="float: left;">
                <h4>15:40</h4>
                <h5>Pleso, Zagreb</h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-4 airport-and-time" style="float: left;">
                <h4>17:00</h4>
                <h5>Echterdingen, Stuttgart</h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-3 details-text" style="float: left;">
                <p style="display: inline;"><span class="dir_fl_color">Direct flight</span> <br>
                    1h 20min<br>
                    <img src="Slike/germanwings-logo1.png" alt="germanwingslogo" class="aviologo">Germanwings</p>
            </div>
        </div><!-- END OF A DEPARTURE FLIGHT -->
        <div class="col-lg-12 col-md-12 col-xs-12 dep-ret-details"><!-- START OF A RETURN FLIGHT -->
            <div class="col-lg-1 col-md-1 col-xs-1 glyphi-aeroplane-div">
                <br>
                <span class="glyphicon glyphicon-plane gly-rotate-270"></span>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-4 airport-and-time" style="float: left;">
                <h4>15:40</h4>
                <h5>Pleso, Zagreb</h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-4 airport-and-time" style="float: left;">
                <h4>17:00</h4>
                <h5>Echterdingen, Stuttgart</h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-3 details-text" style="float: left;">
                <p style="display: inline;"><span class="dir_fl_color">Direct flight</span> <br>
                    1h 20min<br>
                    <img src="Slike/germanwings-logo1.png" alt="germanwingslogo" class="aviologo">Germanwings</p>
            </div>
        </div><!-- END OF A RETURN FLIGHT -->
    </div><!-- END OF A DEPARTURE / RETURN FLIGHT -->
    <div class="col-lg-12 col-md-12 col-xs-12 flights"><!-- START OF A NEW FLIGHT -->
        <div class="col-lg-12 col-md-12 col-xs-12 price-background"><!-- START OF A FLIGHT HEADER -->
            <div class="col-lg-2 col-md-2 col-xs-2">
                <h2 style="float: left;">350€</h2>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-5 halign">
                <h5 style="float: left; padding-left: 2em;" tabindex="0" data-toggle="popover" title="Popover Header" data-placement="right" data-trigger="focus" data-content="Price breakdown">Price breakdown</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3 halign">
                <button type="button" class="btn-default select-flight" value="Select">SELECT</button>
            </div>
        </div><!-- END OF A FLIGHT HEADER -->
        <div class="col-lg-12 col-md-12 col-xs-12 dep-ret-details"><!-- START OF A DEPARTURE FLIGHT -->
            <div class="col-lg-1 col-md-1 col-xs-1 glyphi-aeroplane-div">
                <br>
                <span class="glyphicon glyphicon-plane gly-rotate-90"></span>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-4 airport-and-time" style="float: left;">
                <h4>15:40</h4>
                <h5>Pleso, Zagreb</h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-4 airport-and-time" style="float: left;">
                <h4>17:00</h4>
                <h5>Echterdingen, Stuttgart</h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-3 details-text" style="float: left;">
                <p style="display: inline;"><span class="dir_fl_color">Direct flight</span> <br>
                    1h 20min<br>
                    <img src="Slike/germanwings-logo1.png" alt="germanwingslogo" class="aviologo">Germanwings</p>
            </div>
        </div><!-- END OF A DEPARTURE FLIGHT -->
        <div class="col-lg-12 col-md-12 col-xs-12 dep-ret-details"><!-- START OF A RETURN FLIGHT -->
            <div class="col-lg-1 col-md-1 col-xs-1 glyphi-aeroplane-div">
                <br>
                <span class="glyphicon glyphicon-plane gly-rotate-270"></span>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-4 airport-and-time" style="float: left;">
                <h4>15:40</h4>
                <h5>Pleso, Zagreb</h5>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-4 airport-and-time" style="float: left;">
                <h4>17:00</h4>
                <h5>Echterdingen, Stuttgart</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3 details-text" style="float: left;">
                <p style="display: inline;"><span class="dir_fl_color">Direct flight</span> <br>
                    1h 20min<br>
                    <img src="Slike/germanwings-logo1.png" alt="germanwingslogo" class="aviologo">Germanwings</p>
            </div>
        </div><!-- END OF A RETURN FLIGHT -->
    </div><!-- END OF A DEPARTURE / RETURN FLIGHT -->
</div><!-- END OF A CONTAINER -->